<p style="color: green"><%= notice %></p>

<% content_for :title, "Contacts" %>

<h1>Contact us</h1>

<p>We are here to help you. Please reach out to us with any questions or concerns.</p>



<%= link_to "New Form", new_contact_path %>
