<% content_for :title, "New contact" %>

<div class="text-center my-4">
  <h1 class="display-4">Contact Us</h1>
  <p class="lead">We are here to help you. Please reach out to us with any questions or concerns.</p>
</div>

<%= render "form", contact: @contact %>



